@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	font-family: 'Montserrat', sans-serif;
	@apply text-primary;
	line-height: 1.4;
	background-color: #fbfcfe;
}
.container {
	max-width: 1261px;
}
h1 {
	font-size: 31px;
	font-weight: 700;
}
p {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #5c5589;
	display: -webkit-box;
	font-size: 15px;
	line-height: 150%;
}
